
services:
  postgres:
    image: postgres:14
    restart: always
    environment:
      POSTGRES_USER: gruppo3
      POSTGRES_PASSWORD: gruppo3
      POSTGRES_DB: california_db
    ports:
      - "5433:5432"
    networks:
      - dcrs_net  

  meteo_data_loader:
    build:
      context: ./meteo_data_loader
    container_name: meteo_data_loader
    depends_on:
      - postgres
    volumes: 
      - ./meteo_data:/data
    networks:
      - dcrs_net  
    restart: "no"

  early_warning_model:
    build:
      context: ./early_warning_model
    container_name: early_warning_model
    depends_on:
      - meteo_data_loader
    volumes: 
      - ./meteo_data:/data  
    networks:
      - dcrs_net  
    restart: "no"

networks:
  dcrs_net:  
    driver: bridge